@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

header{
    background-color: rgb(13, 122, 122);
    text-align: center;
    padding: 25px;
    color: blueviolet;
    margin: 0;
}

main{
    margin: 5% 20%;

}

nav{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 20px;
}

nav a{
    padding: 10px;
    text-decoration: none;
}

section{
    padding: 30px;
    border-bottom: 1px red solid;
}

body{
    font-family: "Dosis", sans-serif;
   /* font-optical-sizing: auto;*/
    font-weight: 30;
    font-style: normal;
    padding-top: 60px;
    margin: 0;
}

.menu-fijo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(255, 125, 125);
    padding: 15px;
    margin: 0;
    z-index: 1;
}

#habilidades ul, #experiencia ul, #proyectos ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#habilidades ul li {
    display: inline-block;
    padding: 8px;
    border: 1px solid #ddd;
    /*aqui se definen el redondeo de las esquinas del elemento*/
    border-radius: 5px;
    margin-right: 10px;
}

#experiencia ul li, #proyectos ul li {
    margin-bottom: 10px;
}

#proyectos ul li a{
    text-decoration: none;
    color: #333;
}

#proyectos ul li a:hover{
    text-decoration: underline;
    color:red;
    font-weight: bold;
}

#contacto form{
    margin: 0 auto;
    width: 500px;
}
#contacto form input, #contacto form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom:10px ;
    border: 1px solid #ddd;
}

#contacto form input[type="submit"]{
    background-color: #333;
    cursor: pointer;
    border: none;
    width: 100%;
    color: #fff;
}

footer {
    background-color: rgb(13, 122, 122);
    text-align: center;
    padding: 5px;
    color: blueviolet;
    margin: 0;
}